body {
    
    font-family: poppins, arial, sans-serif;
    margin: 0;
    text-align: center;
    min-width: 100vw;
    overflow-x: hidden;
}
main {
    margin-top: 40px;  
}
.topnav {
    display: flex;
    align-items: center;
    background-color: black;
    overflow: hidden;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    height: 50px;
}
.nav-links {
    display: flex; 
    justify-content: center;  
    align-items: center; 
    flex: 1;
    width: 100%;  
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    white-space: nowrap;
}

.topnav a:hover {
    background-color: white;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}
.icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    padding: 10px;
    position: absolute;
    left: 10px;
}


.tab {
    display: none;
}

.tab-active {
    display: block;
    
}

@media screen and (max-width: 900px){
    .nav-links {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 50px;
        padding-left:  10px;
        width: 100%;
        background-color: black;
        z-index: 1000;
    }
    .nav-links a {
        text-align: left;
        padding: 12px 16px;
        display: block;
        width: 100%;
    }
    .nav-links a:hover {
        padding-left: 30px;  
    }
    .icon {
        display: block;
    }
    .nav-links.show {
        display: flex;
    }
}

#home {
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}
 #home h1 {
    font-size: 42px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #2c3e50;
    animation: fadeIn 1s ease-in-out;
    margin-top: -5px;
 }
 @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px);}
    to {opacity: 1; transform: translateY(0); }
 }
.golf-icon {
    width: 50px; 
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
    position: relative;
    top: -10px;
    pointer-events: none;

    
}
 #home p {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
    line-height: 1.6;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
 }

.home-img{
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#home img:hover {
    transform: scale(1.02);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
#image-carousel {
    position: relative;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    height: 500px;
    overflow: hidden;
    background: none;
    padding: 0;
    
}
.carousel {
    width: 100%; 
    max-width: 1200px; 
    height: 100%; 
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    background: none;
    display: flex;
    transition: transform 1s ease-in-out;
}


.carousel-slide {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel-slide.show {
    display: block;
    opacity: 1;
}
.carousel-slide img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    object-position: center top;
    display: block;
    margin: 0;
    
}



.location-icon {
    width: 30px;
    filter: invert(1);

}
.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    max-width: 80%;
}
.carousel-caption .location-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
#home img:hover {
    transform: scale(1.02);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

#new-golfer-input {
    margin-top: 30px;
    padding: 20px;
   
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    border: 2px solid #04AA6D;
    border-radius: 10px;
    gap: 20px;
   box-sizing: border-box; 
   
    
}
#new-golfer-input label {
    font-size: 18px;
    color: #2c3e50;
    margin-bottom: 10px;
    font-weight: 600;
    font-weight: bold;
    display: block;
    
}
#new-golfer-name {
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
 
}

#new-golfer-name:focus {
    border-color: #27ae60;
    outline: none;
}

#submit-new-golfer {
    width: 100%;
    background: linear-gradient(135deg, #04AA6D, #037a4d);
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: 600;
}

#submit-new-golfer:hover {
    background-color: #037a4d;
}
#submit-new-golfer:disabled {
    background: linear-gradient(135deg, #bdc3c7, #95a5a6);
    cursor: not-allowed;
    opacity: 0.7;
}


#submit-new-golfer:not(:disabled):hover {
    transform: translateY(-2px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}


#submit-new-golfer:not(:disabled):active{
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#golfer-list-container {
    margin-top: 30px;
    padding: 20px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #04AA6D;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
#golfer-list-container h3 {
    font-size: 22px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 15px;
    text-align: center;
}
#golfer-list {
    list-style-type: none;
    padding: 0;
}

#golfer-list li{
    font-size: 16px;
    color: #555;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    gap: 10px;
}
.delete-golfer-btn {
    cursor: pointer;
  margin-left: auto; 
  width: 18px;
  visibility: hidden;
  }

  #golfer-list li:hover .delete-golfer-btn {
    opacity: 1;
    visibility: visible; 
  }
#golfer-list li:hover {
    background-color: #ecf0f1;
    cursor: pointer;
}
#golfer-list-container {
    display: none;
}
#post-score-btn:hover {
    cursor: pointer;
    
}

#rounds-display {
    text-align: left;
    padding-left: 10px;
}

#post-round {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 12px;
    background-color: #ffffff;
    text-align: left;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

#post-round h1 {
    font-size: 32px;
    font-weight: 700;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

#post-round p {
    font-size: 16px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 1.6;
}



#post-score-btn {
    display: block;
    margin: 20px auto;
    background: linear-gradient(135deg, #04AA6D, #037a4d);
    color: white;
    padding: 14px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#post-score-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

#post-score-btn:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#post-score-form {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

}
#post-score-form h2 {
    font-size: 24px;
    font-weight: 600;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

#score-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#score-form div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#score-form label {
    font-weight: 600;
    font-size: 14px;
    color: #333;
}

#score-form input, 
#score-form select {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    
    
}
#score-form input:focus, 
#score-form select:focus {
    border-color: #04AA6D;
    outline: none;
    box-shadow: 0 0 0 3px rgba(4, 170, 109, 0.1);
}

#score-form button {
    background: linear-gradient(135deg, #04AA6D, #037a4d);
    color: white;
    padding: 14px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

#score-form button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

#score-form button:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}




#rounds-display {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background-color: #ffffff;
    text-align: left;
}

#rounds-display h2 {
    font-size: 24px;
    font-weight: 600;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

#rounds-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#rounds-list li {
    margin-bottom: 15px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    line-height: 1.6;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
#rounds-list li:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tournament-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 40px;
}

.tournament-details span {
    white-space: nowrap; 
    margin-right: 50px;
}


#handicap-rankings {
    
    padding-top: 10px;
    background-color: #fff;
    max-width: 600px;
    margin: 10px auto;
    border-radius: 12px;
    
    
}

#handicap-rankings h1 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
    
}

#handicap-rankings-container {
    
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    visibility: hidden;
}
#handicap-rankings-container.visible {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}
#handicap-rankings-container.visible {
    opacity: 1;
    transform: translateY(0);
}

#handicap-table {
    width: 100%;
    margin-top: 10px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    border-collapse: collapse;
    border-radius: 8px;
}

#handicap-table th, #handicap-table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    
    
}

#handicap-table th {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
#handicap-table td {
    background-color: #fff;
    font-size: 14px;
    color: #333;
}
#handicap-table tr:hover td {
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
}


#handicap-table td:first-child, #handicap-table th:first-child,
#handicap-table td:nth-child(3), #handicap-table th:nth-child(3) {
  font-weight: bold;
  width: 20%;
}
.tournament-weather-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px;
    align-items: flex-start;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
.tournament-form-container {
    flex: 2;
    background: #f4f4f4;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    min-width: 350px;
    box-sizing: border-box;
}
.weather-lookup-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.weather-lookup-container label {
    font-size: 16px;
    color: #2c3e50;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}
.weather-lookup-container input {
    width: 90%; 
    max-width: 400px;
    padding: 12px;
    margin: 10px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f1f1f1;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.weather-lookup-container button {
    background: linear-gradient(135deg, #04AA6D, #037a4d);
    color: white;
    padding: 14px 24px;
    margin: 20px auto;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.weather-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 500px;
    padding: 20px;
    box-sizing: border-box;
}
.weather-lookup-wrapper {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    width: 100%;
}
.weather-header {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: #2c3e50;
    margin-bottom: 15px;
}
.weather-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.weather-lookup-container input:focus {
    border-color: #04AA6D;
    outline: none;
    box-shadow: 0 0 0 3px rgba(4, 170, 109, 0.1);
}

#get-weather {
    width: 100%; 
    padding: 14px 24px;
    background: linear-gradient(135deg, #04AA6D, #037a4d);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    margin-top: 10px;
}
#get-weather:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
#get-weather:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#weather-result {
    display: none;
    width: 100%;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    font-weight: bold;
    text-align: left;
    color: #2c3e50;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .tournament-weather-container {
        flex-direction: column;
        gap: 20px; 
        padding: 10px;
        align-items: center;
    }
    .tournament-container {
        padding: 20px; 
        margin: 0 auto;

    }

    .weather-lookup-container { 
        padding: 15px;
    }

    .weather-header {
        font-size: 1.4em;
        margin-bottom: 10px;
    }

    .weather-icon {
        width: 25px;
        height: 25px;
    }
    #weather-result {
        padding: 12px;
    }
}
.tournament-container {
    flex: 1;
    min-width: 300px;
}

#create-tournament-btn {
    display: none;
}

#tournament-golfers-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #f1f1f1;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;  
    gap: 5px;

}
.golfer-checkbox {
    margin: 0;
    width: 16px;
    height: 16px;
    transform: translateY(2px);
}
#tournament-golfers-container label {
    display: flex;
    align-items: center;
    gap: 10px; 
    font-size: 16px;
    cursor: pointer;
    width: auto;
}
#tournament-scorecard {
    width: 100%;
    overflow: hidden;
}
#tournament-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;

}
#tournament-form h1 {
    color: #2c3e50;
    font-size: 28px;
}
#tournament-form label {
    font-size: 18px;
    color: #2c3e50;
    font-weight: bold;
    display: block;
}


#create-tournament-btn,
#start-tournament-btn {
    background: linear-gradient(135deg, #04AA6D, #037a4d);
    color: white;
    padding: 14px 24px;
    margin: 20px auto;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    
}

#create-tournament-btn:hover,
#start-tournament-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

#create-tournament-btn:active,
#start-tournament-btn:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#tournament-form input,
#tournament-form select {
    width: 90%;
    max-width: 400px;
    padding: 12px;
    margin: 10px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #f1f1f1;
    transition: border-color 0.3s ease, box-shadow 0.3s;
}
#tournament-form select:focus,
#tournament-form input:focus {
    border-color: #04AA6D;
    outline: none;
    box-shadow: 0 0 0 3px rgba(4, 170, 109, 0.1);
}

#tournament-course-container {
    width: 100%;
    max-width: 400px;
    padding: 0;
    margin-top: 10px;
    border: none;
    box-shadow: none;
    position: relative;
    box-sizing: border-box;
}
#course-results:empty {
    display: none;
}
.scrollable-table-container {
    overflow-x: auto;
    width: 100%;
    padding-right: 50px;
  }
#scorecard-container {
    display: none;
    margin: 20px auto;
    width: 100%;
    max-width: 100%;
    padding: 20px;
    min-width: 1600px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    white-space: nowrap;
}

.scorecard-table {
    min-width: 100%;
    width: 100%;
    max-width: fit-content;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    margin: 0 auto;
    
}

@media (max-width: 1600px){
    #scorecard-container {
        min-width: 600px;
        padding-right: 80px;
        box-sizing: border-box;
    }
}

.scorecard-table th, .scorecard-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    overflow: hidden;
    
    
}

.scorecard-table th {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    font-weight: bold;

}

.scorecard-table td{
    font-size: 14px;
    color: #333;
}

.scorecard-table input {
    width: 40px;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.scorecard-table td input {
    text-align: center;
    width: 40px;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ddd;
    transition: background-color 0.2s ease;
}
.scorecard-table td input:focus {
    background-color: #e9f9e9;
}


.yardage-row, .par-row {
    background-color: #f1f1f1;
}

.out-total, .in-total, .round-total, .tournament-total {
    font-weight: bold;
    background-color: #e9f9e9;
}

.golfer-row {
    font-size: 14px;
}

.golfer-row td {
    padding: 5px;
    text-align: center;
    height: 2em;
}

.submit-round-btn {
    background: linear-gradient(135deg, #04AA6D, #037a4d);
    color: white;
    padding: 10px 20px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: block;
    width: fit-content;
    
}

.submit-round-btn:hover {
    background-color: #037a4d;
    transform: scale(1.05);
}

.submit-round-btn:disabled {
    display: none;
}

input.hole-score:disabled {
    cursor: not-allowed;
    background-color: #f0f0f0;
    opacity: 0.6;
}

.albatross {
    border: 1px solid black;
    border-radius: 50%;
    padding: 2px 9px;
    box-shadow: 0 0 0 1.5px white, 0 0 0 2px white, 0 0 0 3px black, 0 0 0 4px white, 0 0 0 5px black;
}

.birdie {
    border: 1px solid black;
    border-radius: 50%;
    padding: 2px 8px;
}

.eagle {
    border: 1px solid black;
    border-radius: 50%;
    padding: 2px 9px;
    box-shadow: 0 0 0 1.5px white, 0 0 0 2.5px black;
}

.bogey {
    border: 1px solid black;
    padding: 2px 8px;
}

.double-bogey{
    border: 1px solid black;
    padding: 2px 8px;
    box-shadow: 0 0 0 1px white, 0 0 0 2px black;
}

.triple-bogey {
    border: 1px solid black;
    padding: 2px 8px;
    box-shadow: 0 0 0 1.5px white, 0 0 0 2px white, 0 0 0 3px black, 0 0 0 4px white, 0 0 0 5px black;
}
#tournament-leaderboard h1 {
    padding-top: 30px;
    color: #2c3e50;
    margin: 20px auto;
    font-size: 28px;
}

#leaderboard-container {
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    max-width: fit-content;
    display: none;
}
 
.leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    
}  

.leaderboard-table th {
    background-color: #04AA6D;
    color: white;
    padding:9px 15px;
    border: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
}

.leaderboard-table td {
    padding: 8px 15px;
    border: 1px solid #ddd;
    font-size: 15px;
}

.leaderboard-table td:first-child {
    font-weight: bold;
    font-size: 16px;
}
.leaderboard-table td:last-child {
    font-weight: bold;
    background-color: #e9f9e9;
    font-size: 17px;
  }
  

  .empty-state {
    text-align: center;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 30px auto;
  }
.empty-state img {
    width: 80px;
    opacity: 0.8;
}
#start-tournament-link {
    color: #04AA6D;
    text-decoration: none;
    font-weight: bold;
}
#start-tournament-link:hover {
    color:#037a4d;
    text-decoration: underline;
}
#post-score-link {
    color: #04AA6D;
    text-decoration: none;
    font-weight: bold;
}
#post-score-link:hover {
    color:#037a4d;
    text-decoration: underline;
}
#history {
    padding-top: 10px;
  
}
#history h2 {
    font-size: 28px;
}
#history-list {
    display: none;
    margin: 20px auto;
    max-width: 1000px;
    padding: 20px;
    min-width: fit-content;
    background-color: #f9f9f9;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tournament-item {
    position: relative;
    margin: 15px 0;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.delete-tournament-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.trash-icon {
    width: 20px; 
    height: 20px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.delete-tournament-btn:hover .trash-icon {
    opacity: 1;
  }

  .delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
.tournament-item:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.tournament-item .view-details-btn {
    background: linear-gradient(135deg, #04AA6D, #037a4d);
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-block;
    margin-top: 10px;
    align-self: flex-start;
}
.tournament-item .view-details-btn:hover {
    background-color: #037a4d;
    transform: scale(1.05);
}
.tournament-item .view-details-btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(4, 170, 109, 0.2);
}

#course-results {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    position: absolute;
    width: 100%;
    max-width: 400px; /* Add this line to limit the width */
    z-index: 1000;
    display: block;
}

.search-result {
    padding: 10px;
    cursor: pointer;
}

.search-result:hover {
    background-color: #f0f0f0;
}

.hidden-strokes {
    display: none;
}
