body {
    font-family: poppins, arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.topnav {
    display: flex;
    background-color: black;
    overflow: hidden;
    justify-content: center;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: white;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.tab {
    display: none;
}

.tab-active {
    display: block;
    
}

#home {
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 1200px;
}
 #home h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 700;
 }

 #home p {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
    line-height: 1.6;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
 }

#home img{
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}


#post-score-btn:hover {
    cursor: pointer;
    
}

#rounds-display {
    text-align: left;
    padding-left: 10px;
}

#post-round {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: left;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#post-round h1 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

#post-round p {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}
#new-golfer-input label {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    
}
#new-golfer-name {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;

    
}
#submit-new-golfer:hover {
    background-color: #037a4d;
}
#submit-new-golfer:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}


#post-score-btn {
    display: block;
    margin: 20px auto;
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
#post-score-btn:hover {
    background-color: #037a4d;
}

#post-score-form {
    margin-top: 20px;
}
#post-score-form h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

#score-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#score-form div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#score-form label {
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

#score-form input, 
#score-form select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    
    
}
#score-form input:focus, 
#score-form select:focus {
    border-color: #04AA6D;
    outline: none;
}

#score-form button {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

#submit-new-golfer {
    background-color: #04AA6D;
    color: white;
    padding: 12px 18px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

#new-golfer-input {
    width: 100%;
    max-width: 350px;
    padding: 12px 20px;
    font-size: 16px;
    border: 2px solid #04AA6D;
    border-radius: 5px;
    transition: border 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    
}


#score-form button:hover {
    background-color: #037a4d;
}




#rounds-display {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #04AA6D;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: left;
}

#rounds-display h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

#rounds-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#rounds-list li {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
}



#handicap-rankings {
    padding: 20px;
    background-color: #fff;
    max-width: 500px;
    margin: 0 auto;
    
}

#handicap-rankings h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: #333;
    
}

#handicap-rankings-container {
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#handicap-table {
    width: 100%;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-collapse: collapse;
    border-radius: 8px;
}

#handicap-table th, #handicap-table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    
}

#handicap-table th {
    background-color: #04AA6D;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

#handicap-table td:first-child, #handicap-table th:first-child,
#handicap-table td:nth-child(3), #handicap-table th:nth-child(3) {
  font-weight: bold;
  width: 20%;
}

#create-tournament-btn {
    display: none;
}

#tournament-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    
}

#create-tournament-btn,
#start-tournament-btn {
    background-color: #04AA6D;
    color: white;
    padding: 10px 20px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

#create-tournament-btn:hover,
#start-tournament-btn:hover {
    background-color: #037a4d;
}

#tournament-form input,
#tournament-form select {
    width: 100%;
    max-width: 400px;
    padding: 2px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
}

#scorecard-container {
    display: none;
    margin: 20px auto;
    max-width: 1000px;
    padding: 20px;
    min-width: fit-content;
    background-color: #f9f9f9;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.scorecard-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #f9f9f9;
   
}

.scorecard-table th, .scorecard-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    
}

.scorecard-table th {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    font-weight: bold;

}

.scorecard-table td{
    font-size: 14px;
}

.scorecard-table input {
    width: 40px;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.scorecard-table td input {
    text-align: center;
}

.yardage-row, .par-row {
    background-color: #f1f1f1;
}

.out-total, .in-total, .round-total, .tournament-total {
    font-weight: bold;
    background-color: #e9f9e9;
}

.golfer-row {
    font-size: 14px;
}

.golfer-row td {
    padding: 5px;
    text-align: center;
    height: 2em;
}

.submit-round-btn {
    background-color: #04AA6D;
    color: white;
    padding: 10px 20px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: block;
    width: fit-content;
    
}

.submit-round-btn:hover {
    background-color: #037a4d;
    transform: scale(1.05);
}

.submit-round-btn:disabled {
    display: none;
}

.albatross {
    border: 1px solid black;
    border-radius: 50%;
    padding: 2px 9px;
    box-shadow: 0 0 0 1.5px white, 0 0 0 2px white, 0 0 0 3px black, 0 0 0 4px white, 0 0 0 5px black;
}

.birdie {
    border: 1px solid black;
    border-radius: 50%;
    padding: 2px 8px;
}

.eagle {
    border: 1px solid black;
    border-radius: 50%;
    padding: 2px 9px;
    box-shadow: 0 0 0 1.5px white, 0 0 0 2.5px black;
}

.bogey {
    border: 1px solid black;
    padding: 2px 8px;
}

.double-bogey{
    border: 1px solid black;
    padding: 2px 8px;
    box-shadow: 0 0 0 1px white, 0 0 0 2px black;
}

.triple-bogey {
    border: 1px solid black;
    padding: 2px 8px;
    box-shadow: 0 0 0 1.5px white, 0 0 0 2px white, 0 0 0 3px black, 0 0 0 4px white, 0 0 0 5px black;
}

#leaderboard-container {
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    max-width: 800px;
    display: none;
}
 
.leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    
}  

.leaderboard-table th {
    background-color: #04AA6D;
    color: white;
    padding:9px 15px;
    border: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
}

.leaderboard-table td {
    padding: 8px 15px;
    border: 1px solid #ddd;
    font-size: 15px;
}

.leaderboard-table td:first-child {
    font-weight: bold;
    font-size: 16px;
}
.leaderboard-table td:last-child {
    font-weight: bold;
    background-color: #e9f9e9;
    font-size: 17px;
  }
  
